.App {
  
  background-color: #0A192F;
  overflow: hidden;
}


.font{
  background-color: yellow;
  font-size: 38px;


 
}
.card:hover{
  background-color: black;
  color:white;
  
}
.cards{
  border: none;
  border-bottom: 4px solid yellow;
 
}
.work{
  background-color: black;
  height: 100vh;
  color: white;
}
.contact{
 
 min-height: 100vh;
background-color: black;
 
 

 
  
}


.forms{
 
  padding: 40px;
  box-shadow: 5px 5px 5px 25px white;
  background-color:gray;
  justify-content: left;
  text-align: left;
  color: white;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


